.edge-to-edge {
  /*  Android 15+ Edge-To-Edge Handling  */
  position: relative;
  inset: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--ThemeBackgrounds2);
}
.inset-wrapper {
  /*  Android System Bars - Insets  */
  padding-top: var(--edge2edge-top);
  padding-bottom: var(--edge2edge-bottom);
  padding-left: var(--edge2edge-left);
  padding-right: var(--edge2edge-right);
  overflow: hidden; /* important */
  transition: padding 0.15s ease;
}

.Main-Content {
  background-color: var(--background-color);
  box-shadow: var(--outset-shadows);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
