.SlidebarRight-aside {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  touch-action: pan-y;

  width: calc(90vw + var(--edge2edge-right));
  height: 100vh;

  overflow: hidden;
  will-change: transform, opacity;
  contain: layout paint;
  transform: translateZ(0);
}

.SlidebarRight-aside nav {
  display: flex;
  flex: 1;
  min-height: 0;
  width: 100%;

  padding-top: var(--edge2edge-top);
  padding-bottom: var(--edge2edge-bottom);
  padding-right: var(--edge2edge-right);
  padding-left: 0;
}

.SlidebarRight-safe-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bk-side-color);
  flex: 1;
  min-height: 0;
  width: 100%;
}
