/* PLACED HERE TO BYPASS LIGHTNING-CSS COMPILATION WARNINGS, UNTIL THEY INCLUDE: FUNCTIONS. */

/* Only works for OS or Browser Theme, Not Manual Change */
@function --light-dark(--light, --dark) {
  result: var(--light);
  @media (prefers-color-scheme: dark) {
    result: var(--dark);
  }
}

/* Pass in color & opacity: */
@function --opacitate(--color, --alpha: 1) {
  result: oklch(from var(--color) 1 c h / var(--alpha));

  /* example
  background-color: --opacitate(var(--Fav-Color), 0.1);
  border: 1px solid --opacitate(var(--Fav-Color), 0.3); 
  */
}

/* Brand Color, Pass in opacity: */
/* 
@function --transparent(--alpha: 0.2) {
  result: oklch(from var(--brand-color) 1 c h / var(--alpha));

  example
  background-color: --transparent(0.1);
  border: 1px solid --transparent(0.3);   
}
  */

/* With Types: */
/* @function --opacitate(--color <color>, --alpha type(<number> | <percentage>)) returns <color> {
  result: oklch(from var(--color) 1 c h / var(--alpha));
} */
